@import "./variables";
@import "./maps";
@import "./mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

nav {
  div {
    .navbar-brand {
      width: 8vw;

      img {
        width: 100%;
      }
    }
  }
}

#partners {
  img {
    width: 30vw;
  }
}

footer {
  #afex-logo {
    text-align: left;

    a img {
      width: 12vw;
    }
  }

  #insights {
    text-align: right;

    a {
      width: 30vw;
    }
  }

  .small {
    font-size: .7rem;
  }

  #copyright {
    text-align: left;
  }

  #social-icons {
    text-align: right;
  }

  #policies ul li,
  #social-icons ul li {
    display: inline;
  }
}

@include respond-below(md) {
  nav {
    div {
      .navbar-brand {
        width: 30vw;

        img {
          width: 100%;
        }
      }
    }
  }

  
#partners {
  img {
    width: 100%;
  }
}

  footer {
    #afex-logo {
      text-align: center;

      a img {
        width: 100%;
      }
    }

    #insights {
      text-align: center;

      a {
        width: 100%;
      }
    }

    #copyright,
    #social-icons {
      text-align: center;
    }

    #social-icons {
      padding: 0;
    }

    #policies ul li {
      display: block;
    }
  }
}